/* globals.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #002d1c; /* your dark green */
  color: white; /* default text color */
}

* {
  box-sizing: border-box;
}
